<a href="https://colab.research.google.com/github/ThinkLabzChennai/Datascience/blob/main/00.Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![python.jpg]()

# What is Python?

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991 at Centrum Wiskunde & Informatica (CWI) in the Netherlands as a successor to the ABC programming language. the name of the Python programming language comes from an old BBC television comedy sketch series called **Monty Pythonâ€™s Flying Circus**. Python is an interpreted high-level general-purpose programming language. 

Programs written in a high-level language have to be processed before they can run. This extra processing takes some time.  

 An interpreter is a computer program that directly executes instructions written in a programming or scripting language, without requiring them previously to have been compiled into a machine language program.   
It is used for:
* web development (server-side)
* software development
* mathematics
* system scripting

**Goals of Python**   
In 1999, Guido van Rossum defined his goals for Python:

* An easy and intuitive language just as powerful as those of the major competitors;
* Open source, so anyone can contribute to its development;
* Code that is as understandable as plain English;
* Suitable for everyday tasks, allowing for short development times.

The most recent major version of Python is Python  3.10.0
However, Python 2, although not being updated with anything other than security updates, is still quite popular.

# Python Variables

Variables are containers for storing data values i.e A variable is a name which refers to the location of particular information on the Computer. Every variable holds a value, which is the information associated with that variable.   

An assignment statement is used to assign a particular value to a variable. Let us assign a variable and diplay its value using **print(variable / value)** function.
Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.

In [38]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [39]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

# Casting

If you want to specify the data type of a variable, this can be done with casting.

In [40]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Get the Type
You can get the data type of a variable with the type() function.

In [41]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

String variables can be declared either by using single or double quotes:

x = "John"
is the same as
x = 'John'

Variable names are case-sensitive.

This will create two variables:


a = 4
A = "Sally"
A will not overwrite a

# Python - Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).
Rules for Python variables:
    
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

# Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Illegal variable names:
```
2myvar = "John"
my-var = "John"
my var = "John"
```

# Python Variables - Assign Multiple Values

Python allows you to assign values to multiple variables in one line:

In [42]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

In [43]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Python - Output Variables

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [44]:
x = "awesome"
print("Python is " + x)

Python is awesome

You can also use the + character to add a variable to another variable.

For numbers, the + character works as a mathematical operator.
    
If you try to combine a string and a number, Python will give you an error.

In [45]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

# Python - Global Variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

Create a variable outside of a function, and use it inside the function

In [46]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. 
The global variable with the same name will remain as it was, global and with the original value.

Create a variable inside a function, with the same name as the global variable

In [47]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

The global Keyword

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

If you use the global keyword, the variable belongs to the global scope:

In [48]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [49]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## **Operators**
Operators are special symbols that represent computations like addition and multiplication. The values for which the operator is applied to are called operands.Using some numerical variables a,b and c let us look at the operators one by one.

### Arithmetic Operators

**Addition**   
For adding 2 or more numbers we can use the  $~ + ~$  operator. example $a+b+c$

In [50]:
# Example
55321 + 2654 + 455.32

58430.32

**Subtraction**   
One number can be subtracted from another number using $~-~$ operator. example $a-c$

In [51]:
5 - 990.24

-985.24

**Multiplication**   
Two or more numbers can be multiplied using $~*~$ operator. example $a*c*b$

In [52]:
5 * 88 * 9098271822113597

4003239601729982680

**Exponentiation**     
$a * * n$   
$n^{th}$ power of a number can be obtained using $~**~$ operator. Let us see an example below.

In [53]:
# Finding 3 to the power 2 
3**2

9

**Division**   
$a/b$   
We can divide one number by another using $~/~$ operator. example

In [54]:
10570/10

1057.0

**Modulo**      
$a~\%~b$   
Modulo operator $~\%~$ is used to find remainder when a is divided by b. If $a < b$ then $a$ will be returned. Let us see an example below.

In [55]:
3%4

3

In [56]:
10%3

1

**Floor division**   
 $~//~$ operator is used to get integer quotient when a is divided by b. Let us see an example below.

In [57]:
9//4

2

**Relational Operators**   
These operators are used to determine relationship between variables. If we perform this operator boolean values(True/False) will be returned, indicating whether relationship we have checked is correct or not.

$a < b $   
$<$ operator is used to check whether first variable is less than another.

In [58]:
9<5

False

$a <= b $   
$<=$ operator is used to check whether first number is less than or equal to the other number.

In [59]:
10<=10

True

$a > b $   
$>$ operator is used to check whether first variable is greater than the other variable.

In [60]:
9>5

True

$a >= b $   
$>=$ operator is used to check whether first variable is greater than or equal to the other variable.

In [61]:
10>=10

True

$a==b$ (Equity)   
$==$ operator is used to check whether two variables are equal

In [62]:
books=10
books==11

False

$a!=b$   
$!=$ is used to check whether one variable is not equal to another

In [63]:
books!=99

True

**Logical Operators**   
A logical operator is a symbol or word used to connect two or more expressions. The logical operators are **"and", "or", and "not"**.


**and**   
**condition_1 and condition_2**   
We consider two conditions (Specified using relational operators) and this operator returns true when both conditions are satisfied.

In [64]:
books = 99
books<100 and books>5

True

**or**   
**condition_1 or condition_2**   
We consider two conditions (Specified using relational operators) and this operator returns true when any one condition is satisfied.

In [65]:
books = 99
books<100 or books>500

True

**not**   
**not condition**   
Checks the condition and returns False if the condition is satisfied, True otherwise. i.e checks the condition and gives back opposite boolean value.

In [66]:
books==99

True

In [67]:
not books==99

False

**Membership Operators**   
A membership operator checks for existence of particular object within a compound data structure. We use **"in"** or **"not in"**. to check whether an element exists or doesn't exist in particular data structure

In [68]:
shop_list=['Pen','Water bottle',3]
3 in shop_list

True

In [69]:
'Pen' not in shop_list

False

# Quiz

# Create a variable named carname and assign the value Volvo to it.