<a href="https://colab.research.google.com/github/ThinkLabzChennai/Datascience/blob/main/01.Python_Datatypes_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Types

# Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex
    
Sequence Types:	list, tuple, range
    
Mapping Type:	dict
    
Set Types:	set, frozenset
    
Boolean Type:	bool
    
Binary Types:	bytes, bytearray, memoryview

You can get the data type of any object by using the type() function:

In [6]:
x = 5
print(type(x))

<class 'int'>

#  **Methods in Python**
In Python for every data type there are various functions created which can be utilized for handling the data. These are called as methods. Methods are associated with the objects of the class they belong to. We shall look at every data type and their available methods

# Python Numbers

Numbers in Python are classified in to 3 types
1. int   
Python stores integer values such as $-\infty,\cdots,~-3,~-2,~-1,~0,~1,~2,~3,\cdots,\infty$ as *'int'*
1. float   
Python stores numbers with decimal digits such as $1.23 ,~0.1,~ 9909.21456$ in it as *'float'*
1. complex   
 An complex number is represented by “ a + bi “. Python converts the real numbers a and b into complex using the function **complex(a,b)**. The real part can be accessed using the function real() and imaginary part can be represented by imag(), it prints the number as " a + bj "   

x = 1    # int

y = 2.8  # float

z = 9 + 18j   # complex

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [7]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [8]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Complex numbers are written with a "j" as the imaginary part:

In [9]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

You can convert from one type to another with the int(), float(), and complex() methods:

In [10]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## **Operators**
Operators are special symbols that represent computations like addition and multiplication. The values for which the operator is applied to are called operands.Using some numerical variables a,b and c let us look at the operators one by one.

### Arithmetic Operators

**Addition**   
For adding 2 or more numbers we can use the  $~ + ~$  operator. example $a+b+c$

In [11]:
# Example
55321 + 2654 + 455.32

58430.32

**Subtraction**   
One number can be subtracted from another number using $~-~$ operator. example $a-c$

In [12]:
5 - 990.24

-985.24

**Multiplication**   
Two or more numbers can be multiplied using $~*~$ operator. example $a*c*b$

In [13]:
5 * 88 * 9098271822113597

4003239601729982680

**Exponentiation**     
$a * * n$   
$n^{th}$ power of a number can be obtained using $~**~$ operator. Let us see an example below.

In [14]:
# Finding 3 to the power 2 
3**2

9

**Division**   
$a/b$   
We can divide one number by another using $~/~$ operator. example

In [15]:
10570/10

1057.0

**Modulo**      
$a~\%~b$   
Modulo operator $~\%~$ is used to find remainder when a is divided by b. If $a < b$ then $a$ will be returned. Let us see an example below.

In [16]:
3%4

3

In [17]:
10%3

1

**Floor division**   
 $~//~$ operator is used to get integer quotient when a is divided by b. Let us see an example below.

In [18]:
9//4

2

**Relational Operators**   
These operators are used to determine relationship between variables. If we perform this operator boolean values(True/False) will be returned, indicating whether relationship we have checked is correct or not.

$a < b $   
$<$ operator is used to check whether first variable is less than another.

In [19]:
9<5

False

$a <= b $   
$<=$ operator is used to check whether first number is less than or equal to the other number.

In [20]:
10<=10

True

$a > b $   
$>$ operator is used to check whether first variable is greater than the other variable.

In [21]:
9>5

True

$a >= b $   
$>=$ operator is used to check whether first variable is greater than or equal to the other variable.

In [22]:
10>=10

True

$a==b$ (Equity)   
$==$ operator is used to check whether two variables are equal

In [23]:
books=10
books==11

False

$a!=b$   
$!=$ is used to check whether one variable is not equal to another

In [24]:
books!=99

True

**Logical Operators**   
A logical operator is a symbol or word used to connect two or more expressions. The logical operators are **"and", "or", and "not"**.


**and**   
**condition_1 and condition_2**   
We consider two conditions (Specified using relational operators) and this operator returns true when both conditions are satisfied.

In [25]:
books = 99
books<100 and books>5

True

**or**   
**condition_1 or condition_2**   
We consider two conditions (Specified using relational operators) and this operator returns true when any one condition is satisfied.

In [26]:
books = 99
books<100 or books>500

True

**not**   
**not condition**   
Checks the condition and returns False if the condition is satisfied, True otherwise. i.e checks the condition and gives back opposite boolean value.

In [27]:
books==99

True

In [28]:
not books==99

False

**Membership Operators**   
A membership operator checks for existence of particular object within a compound data structure. We use **"in"** or **"not in"**. to check whether an element exists or doesn't exist in particular data structure

In [29]:
shop_list=['Pen','Water bottle',3]
3 in shop_list

True

In [30]:
'Pen' not in shop_list

False

Exercise:
    
Insert the correct syntax to convert x into a floating point number.

x = 5