<a href="https://colab.research.google.com/github/ThinkLabzChennai/Datascience/blob/main/03.Python_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists

# Python Collections (Arrays)

There are four collection data types in the Python programming language:

* List - a collection which is ordered and changeable. Allows duplicate members.

* Tuple - a collection which is ordered and unchangeable. Allows duplicate members.

* Set - a collection which is unordered and unindexed. No duplicate members.

* Dictionary - a collection which is ordered and changeable.

Lists are used to store multiple items in a single variable.

The most versatile data type is the list, which can be written as a list of comma-separated values (items) between square brackets **[** and **]**. Lists might contain items of different types, but usually the items all have the same type. The values in a list are called elements or sometimes items. They have specific order in which we store them. This order is preserved as index. A list is mutable, which means the values in a list can be modified and new values can be easily added to the list.

In [30]:
Items=["Remote","8_Batteries","Notepad","Marker","Bluetooth Speakers"]
Shop=["Electronic","Stationary",'123',"art"]
print(Items)

['Remote', '8_Batteries', 'Notepad', 'Marker', 'Bluetooth Speakers']


1. List items are ordered (i.e the items have a defined order, and that order will not change.), changeable, and allow duplicate values.

1. List items are indexed, the first item has index [0], the second item has index [1] etc.

1. If we add new items to a list, the new items will be placed at the end of the list.

1. The list items are changeable, meaning that we can modify or remove items in a list after it has been created.

1. Allow Duplicates, Since lists are indexed, lists can have items with the same value:

In [31]:
Shop=["Electronic","Stationary",'123',"art","Stationary"]
print(Shop)

['Electronic', 'Stationary', '123', 'art', 'Stationary']

To determine how many items a list has, use the len() function:

In [32]:
Shop=["Electronic","Stationary",'123',"art","Stationary"]
print(len(Shop))

5

List Items - Data Types

List items can be of any data type:

String, int and boolean data types:

In [33]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9," 3"]
list3 = [True, False, False]

A list object is stored as **list**

In [34]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

Access Items

List items are indexed and you can access them by referring to the index number:

Print the second item of the list:

In [35]:
Items=["Remote","8_Batteries","Notepad","Marker","Bluetooth Speakers"]
print(Items[1])

8_Batteries

Change Item Value

To change the value of a specific item, refer to the index number:
    
Change the second item:

In [36]:
Items=["Remote","8_Batteries","Notepad","Marker","Bluetooth Speakers"]
Items[1] = "blackcurrant"
print(Items)

['Remote', 'blackcurrant', 'Notepad', 'Marker', 'Bluetooth Speakers']

Change a Range of Item Values

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

In [37]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruits[1:3] = ["blackcurrant", "watermelon"]
print(fruits)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

Append Items

To add an item to the end of the list, use the **append()** method:

Using the append() method to append an item:

In [38]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(thislist)

[100, 82, 65, 50, 23]

To insert a list item at a specified index, use the insert() method.

The **insert()** method inserts an item at the specified index:

Insert an item as the second position:

In [39]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Remove Specified Item

The **remove()** method removes the specified item.

Remove "banana":

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

The **del** keyword can also delete the list completely.

In [41]:
thislist = ["apple", "banana", "cherry"]
del thislist

# Python - Loop Lists

Loop Through a List

You can loop through the list items by using a for loop:

Print all items in the list, one by one:

In [42]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Using a While Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

Print all items, using a while loop to go through all the index numbers

In [43]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# Python - Sort Lists

Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

Sort the list alphabetically:

In [44]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

To sort descending, use the keyword argument reverse = True:

Sort the list descending:

In [45]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

Make a copy of a list with the copy() method: this method creates the new list and keep it unaffected by the changes we perform in the original list except the changes in the nested list (list which is member of original list).

In [46]:
fruit = ["apple", "banana", "cherry"]
juice = fruit.copy()
fruit.append("kiwi")
print(fruit)
print(juice)

['apple', 'banana', 'cherry', 'kiwi']
['apple', 'banana', 'cherry']

Adding new list to original one   
We can add all the members of the new list at the end of original list using **extend()** method

In [47]:
marvel1=[['Dr.Strange','Ironman'],'Captain America','Spiderman','Hulk']
marvel1.extend(Shop)
print(marvel1)

[['Dr.Strange', 'Ironman'], 'Captain America', 'Spiderman', 'Hulk', 'Electronic', 'Stationary', '123', 'art', 'Stationary']

Finding Index   
We can find position of an element in a list using index method. If the value is present more than once in the list, then first occurence position is returned.

In [48]:
marvel1.index("Captain America")

1

Counting occurence of an element in a list   
We can count number of times an element is present in a list using **count()** method, we need to give the element as the input for the function.

In [49]:
marvel1.count('Stationary')

2

Repeating list   
We can repeate a list two or more number of times using * operator

In [50]:
marvel1*2

[['Dr.Strange', 'Ironman'],
 'Captain America',
 'Spiderman',
 'Hulk',
 'Electronic',
 'Stationary',
 '123',
 'art',
 'Stationary',
 ['Dr.Strange', 'Ironman'],
 'Captain America',
 'Spiderman',
 'Hulk',
 'Electronic',
 'Stationary',
 '123',
 'art',
 'Stationary']

# Python - Join Lists

Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [51]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

# **Range**
we can create of sequence of numerical values. We can use it for purpose of iteration and also we can convert the variable to another type in Python. for creation we use **range(end_value)** where default start value is **0** or **range(start_value,end_value)** or **range(start_value,end_value,increment)**

In [52]:
sample_1=range(10)

type(sample_1)

range

In [53]:
sample_2=range(1,10)

type(sample_2)

range

In [54]:
sample_3=range(1,10,4)

type(sample_3)

range