<a href="https://colab.research.google.com/github/ThinkLabzChennai/Datascience/blob/main/04.Python_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple
Tuples are used to store multiple items in a single variable. Tuples are created using paranthesis or round brackets. It is similar to lists in some aspects such as indexing, nested objects and repetition.

In [7]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple Items


* Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

* Ordered   
The items have a defined order, and that order will not change.

* Unchangeable   
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

* Allow Duplicates   
Since tuples are indexed, they can have items with the same value:

Tuples allow duplicate values:

In [8]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

To determine how many items a tuple has, use the len() function:
    
Print the number of items in the tuple:

In [9]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

One item tuple, remember the comma:

In [10]:
sample = ("apple",)
print(type(sample))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

# Tuple Items - Data Types
Tuple items can be of any data type:

String, int and boolean data types:

In [11]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [12]:
strict_marvel=("Hulk","Black Widow","Captain America","Thor","Ironman","Hawk Eye","Thor")

# Number of elements in a tuple
We can find how many elements are in a tuple by using **len**

In [13]:
len(strict_marvel)

7

# Finding Index   
We can find position of an element in a tuple using **index** method. If the value is present more than once in the list, then first occurence position is returned.

In [14]:
strict_marvel.index("Thor")

3

# Counting occurence of an element in a tuple   
We can count number of times an element is present in a tuple using **count** method, we need to give the element as the input for the function

In [15]:
strict_marvel.count("Thor")

2

# Order   
We can find element with highest and lowest order using **max** and **min** commands.

In [16]:
max(strict_marvel)

'Thor'

In [17]:
min(strict_marvel)

'Black Widow'

# Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets:

Print the second item in the tuple:

In [18]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# Python - Update Tuples

Tuples are unchangeable. But there are some workarounds.

* Change Tuple Values   
We can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [19]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add Items
Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple value, we can convert it into a list, add item(s), and convert it back into a tuple.

In [20]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

2. Add tuple to a tuple. We can add tuples to tuples, Using **+** operator we can add new tuple with the item(s) to the existing tuple:

Create a new tuple with the value "orange", and add that tuple:

In [21]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Remove Items
**Note**: We cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [22]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

# Python - Loop Tuples
Loop Through a Tuple
You can loop through the tuple items by using a for loop.

Iterate through the items and print the values:

In [23]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

# Python - Join Tuples
Join Two Tuple

To join two or more tuples you can use the + operator:

Join two tuples:

In [24]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)