<a href="https://colab.research.google.com/github/ThinkLabzChennai/Datascience/blob/main/04.Python_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sets

Sets are used to store multiple items in a single variable. A set is a collection which is both unordered and unindexed. They are written with curly brackets.

In [7]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}


* Unordered   
The items in a set do not have a defined order. Set items can appear in a different order every time it is defined, and cannot be referred to by index or key.

* Unchangeable     
Sets are unchangeable, meaning that we cannot change the items after the set has been created.

* Duplicates Not Allowed    
Sets cannot have two items with the same value.

In [8]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

Set Items - **Data Types**

Set items can be of any data type:

set1 = {"apple", "banana", "cherry"}

set2 = {1, 5, 7, 9, 3}

set3 = {True, False, False}

A set can contain elements of different data types:

A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

In [9]:
k={1,"two",True}

# Python - Access Set Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

Loop through the set, and print the values:

In [10]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

Check if "banana" is present in the set:

In [11]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

**Adding an item to a set**   
To add single item to a set we can use the add() method.

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

**Deleting an element from set**   
To remove an item in a set, use the remove, or the discard method. The only difference is that remove throws an error if the element we wish to remove is not in the set and discard doesn't

In [13]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

# Python - Loop Sets

You can loop through the set items by using a for loop:

Loop through the set, and print the values:

In [14]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

# Python - Join Sets

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one or more sets into another:

The union() method returns a new set with all items from both sets:

In [15]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [16]:
set1.update(set2,set3,thisset)
print(set1)

{1, 2, 3, 'a', 'cherry', 'apple', 'banana', 'c', 'b'}